<!--@subject Product Out of Stock Notification ! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var product.getName()":"Product Name",
"var product.getSku()":"Product SKU",
"var vendor.getContactNumber()":"Contact Number"
@-->

{{template config_path="design/email/header"}}
<tr>
 <td style="padding:40px 40px 0 40px;">Dear Inventory Team,</td>
</tr>


<tr><td style="padding:20px 40px 20px 40px;">One product become out of stock. Please find the details below:</td></tr>


<tr style="padding-bottom:10px;">
 <td style="background-size:100%;"><table width="60%" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; line-height:35px;">
     <tbody>
       
       <tr>
         <td style="width:49%; text-align:right; padding-right:20px;">Product Name</td>
         <td style="width:2%; text-align:center;">:</td>
         <td style="width:49%; text-align:left; padding-left:20px;">{{var product.getName()}}</td>
       </tr>
       <tr>
         <td style="width:49%; text-align:right; padding-right:20px;">SKU</td>
         <td style="width:2%; text-align:center;">:</td>
         <td style="width:49%; text-align:left; padding-left:20px;">{{var product.getSku()}}</td>
       </tr>
     </tbody>
   </table></td>
</tr><tr>

<tr>
 <td style="padding: 40px 40px 10px 40px; font-size: 14px;">Thanking you,</td>
</tr>
<tr>
 <td style="padding: 0px 40px 40px 40px; font-size: 14px;"><strong>Admin Team</strong></td>
</tr>
</tbody>
</table>
</body>
</html>